html, body{
    height: 100%;
}

body{
    font-family: 'Open Sans', sans-serif;
    background: url(/static/img/background.jpg);
    margin:0px;
}

.conteudo{
    min-height: 100%;
    min-width: 1000px;
    position: relative;
}

.templo{
    width: 400px;
    height: 108px;
    background-image:url('/static/img/logo_r.png');
    background-repeat: no-repeat;
    background-position: bottom;
    margin:0px auto 70px auto;
    padding-top: 25px;
}

.menu_progresso{
    margin:auto;
    width: 509px;
    height: 87px;
    margin-bottom:50px;
    background-repeat: no-repeat;
    list-style: none;
    padding: 0px;
}

.menu_progresso_1{
    background-image: url(/static/img/progresso/progress_1.png);   
}

.menu_progresso_2{
    background-image: url(/static/img/progresso/progress_2.png);   
}

.menu_progresso_3{
    background-image: url(/static/img/progresso/progress_3.png);   
}

.menu_progresso_4{
    background-image: url(/static/img/progresso/progress_4.png);   
}

h2.titulo_centro{
    text-align:center;
}

.title_input{
    margin-top: 40px;
    text-align:center;
}

img.logo{
    margin: 15px;
    position: absolute;
    background-repeat: no-repeat;
    bottom: 0px;
    right: 0px;
    text-decoration: none;
}

.footer{
    clear: both;
    width: 100%;
    height: 90px;
}

.com{
    width: 400px;
    height: 180px;
}

.submit {
    margin: 10px;
    width: 102px;
    height: 30px;
    border: 0px;
    font: 14px Verdana, Geneva, Arial, Helvetica, sans-serif;
    background-image: url(../img/bg_submit.png);
    background-position: center;
    background-repeat: repeat-x;
    background-color: inherit;
    color: #FFF;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 2px #000;
    -moz-box-shadow: 1px 1px 2px #000;
    -webkit-box-shadow: 1px 1px 2px, #000;
    cursor:pointer;
    padding: 0;
    font-weight:bold;
    text-shadow: 0px 1px 2px #000;
}

.submit:hover{
    opacity:0.80;
}

.submit_green{
    background-image: url(../img/bg_submit_green.png);
}

.submit_red{
    background-image: url(../img/bg_submit_red.png);
}

.palco{
    position: relative;
    height: 296px;
    background: url(../img/palco.png);
    background-position: center;
    background-repeat: no-repeat;
}

.links{
    min-width: 500px;
    background-color: #EEE;
    font-size: 15px;
    font-family: arial, Verdana;
    moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 2px 5px #666;
    -moz-box-shadow: 1px 2px 5px #666;
    -webkit-box-shadow: 1px 2px 5px, #666;    
    float: left;
    clear: left;
    position: relative;
    top: 20px;
    left: 50%;
    margin: 5px 5px 5px -260px;
    padding:5px;
}

.links a{
    width: 160px;
    float:left;
    text-decoration: none;
    margin: -5px 10px -5px -5px;
    padding: 5px;
    color: #000;
    background-color: rgba(200,200,200,0.7);
    moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
    text-shadow: 0px 1px 2px #FFF;    
}

.links a:hover{
    background-color: rgb(225,225,225);
}

.nome{
    position: relative;
    display: table; 
    margin: auto;
    margin-top: -163px;
    background-color: #006699;
    padding: 5px 10px 5px 10px;
    color: #FFF;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 5px 5px #888888;
    font-weight: bold; 
}

.nome:hover{
    background-color: #3399cc;
}

/*  comentarios   */

.container{
    width: 100%;
    min-width: 900px;
    text-align:center;
    height: auto;
}

.form_novo{
    width:100%;
    text-align:center;
}


.salvar{
    margin: 20px 0px 0px 0px;
    text-align:center;

}

.comentarios_feed{
    float: left;
    width:47.5%;
    min-height:320px;
    margin:10px 1% 15px 1%;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border:1px solid #CCC;
    background-color:rgba(255,255,255,0.6);
    overflow: auto;
    position: relative;
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;
    cursor: pointer;
}

.negativos:hover{
    border:1px solid #E85;
    background-color:rgba(255,245,230,0.7);
}

.positivos:hover{
    border:1px solid #468847;
    background-color:rgba(230,240,225,0.7);
}

.comentarios_feed h2{
    margin:0px 0px 5px 10px;
    padding:5px;
    text-align: left;
}

.comentarios_feed ul{
    list-style:none;
    margin:0px;
    padding:10px;
}

.comentarios_feed li{
    margin:0px 50px 0px 50px;
    padding:20px 10px 20px 10px;
    border-bottom: 1px solid #CCC;
}

.comentarios_feed .mensagem{
    visibility: visible;
    color: #FFF;
    font-size: 24px;
    width:100%;
    text-align: center;
    position: absolute;
    top: 122px;
}

.comentarios_feed .esconder_mensagem{
    visibility: hidden;
}

.comentarios_feed li:last-child{
    border:0px;
}

.esconder_comentarios {
    background-color: rgb(0, 0, 0);
    opacity: 0.2;
}

.esconder_comentarios:hover{
    border:1px solid #CCC;
    background-color:rgba(0,0,0,0.6);
}

.esconder_comentarios div{
    visibility: hidden;
}

.esconder_comentarios h2{
    color: #FFF;       
}

.erro{
    margin-top: 100px;
    text-align: center;
}


#qrcode{
    width: 400px;
    margin: 20px auto 0px auto;
    background-color:rgba(200, 200, 200 ,0.6);
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    font-size: 14px;
    font-weight: bold;
    display: none;
    padding: 5px 15px 15px 15px;

}

.flashes{
    padding: 0px;
    margin: 0px 0px 0px 0px;
}

.flashes li{
    background-color: rgba(150, 200, 200, 0.6);
    color: #369;
    padding: 5px 10px 5px 15px;
    margin: 0px;
    font-size: 16px;
    list-style: none;
}

li.flashes-error{
    background-color: rgba(200, 150, 150, 0.6);
    color: #963;
}

li.flashes-success{
    background-color: rgba(150, 200, 150, 0.6);
    color: #396;
}
