body{
    font-family: 'Open Sans', sans-serif;
    background: url(../img/background.jpg);
    margin:0 auto;
}


.templo{
    margin: auto;
    width: 300px;
    height: 103px;
    margin-top: 100px;
    background-image: url(../img/templo.png);

  
}

.templo_top{
    margin-top: 10px;
}

h2.titulo_centro{
    text-align:center;
}
style="text-align:center;"

.title_input{
    margin-top: 40px;
    text-align:center;
}

.com{
    width: 400px;
    height: 180px;
}

.submit {
    margin: 10px;
    width: 102px;
    height: 30px;
    border: 0px;
    font: 14px Verdana, Geneva, Arial, Helvetica, sans-serif;
    background-image: url(../img/bg_submit.png);
    background-position: center;
    background-repeat: repeat-x;
    background-color: inherit;
    color: #FFF;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 2px #000;
    -moz-box-shadow: 1px 1px 2px #000;
    -webkit-box-shadow: 1px 1px 2px, #000;
    cursor:pointer;
    padding: 0;
    font-weight:bold;
}

.submit:hover{
    opacity:0.80;
}

.submit_green{
    background-image: url(../img/bg_submit_green.png);
}

.submit_red{
    background-image: url(../img/bg_submit_red.png);
}

.palco{
    position: relative;
    height: 400px;
    height: 296px;
    background: url(../img/palco.png);
    background-position: center;
    background-repeat: no-repeat;
}




.nome{
    position: relative;
    display: table; 
    margin: auto;
    margin-top: -163px;
    background-color: #006699;
    padding: 5px 10px 5px 10px;
    color: #FFF;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 5px 5px #888888;
    font-weight: bold; 
}

.nome:hover{
    background-color: #3399cc;
}

/*  comentarios   */

.container{
    width: 100%;
    min-width: 900px;
    text-align:center;
    height: auto;
}

.form_novo{
    width:100%;
    text-align:center;
}


.salvar{
    margin: 20px 0px 0px 0px;
    text-align:center;

}

.comentarios_feed{
    float: left;
    width:47.5%;
    min-height:900px;
    margin:10px 1% 15px 1%;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border:1px solid #CCC;
    background-color:rgba(255,255,255,0.6);
    overflow: auto;
}

.comentarios_feed:hover{
    border:1px solid #E85;
    background-color:rgba(255,245,230,0.6);
    cursor: pointer;
}
.comentarios_feed h2{
    margin:0px 0px 5px 10px;
    padding:5px;
    text-align: left;
}

.comentarios_feed ul{
    list-style:none;
    margin:0px;
    padding:10px;
}

.comentarios_feed li{
    margin:0px 50px 0px 50px;
    padding:20px 10px 20px 10px;
    border-bottom: 1px solid #CCC;
}

.comentarios_feed li:last-child{
    border:0px;
}