<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.min.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico')}}" />
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico')}}" />

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-33918773-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

    {% block title %}
        <title>Dojo Feedback</title>
    {% endblock %}
    
</head>
<body>
    <div class="conteudo">
        {% block templo %}
            <div class="templo">
                <img width="400" height="108" alt="Dojo Feedback Logo" src="{{ url_for('static', filename='img/logo_r.png') }}" />
            </div>
        {% endblock %}

        {% block progresso%}
            <div class="menu_progresso menu_progresso_1">
            </div>
        {% endblock %}

        {% block conteudo %}
        {% endblock %}

        {% block footer %}
            <div class="footer">
                <a target="blank" href="http://digitalcube.com.br"><img width="180px" height="54px" class="logo" src="/static/img/cube.png" alt="Logotipo digital cube" title="digital cube" /></a>
            </div>
        {% endblock %}
    </div>

    {% block js %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.min.js') }}" charset="UTF-8"></script>
    {% endblock %}

</body>
</html>
