{% extends "base.html" %}

{% block progresso %}
    <img width="450" height="77" alt="etapa 3" class="progresso" src="{{ url_for('static', filename='img/progresso/progress_3.png')}}" />
{% endblock %}

{% block templo %}
    <div class="templo">
        <img width="400" height="108" alt="Dojo Feedback Logo" src="{{ url_for('static', filename='img/logo_r.png') }}" />
    </div>
{% endblock %}

{% block conteudo %}
    <form action="/feedback/create/" method="POST" id="comment_form">
        <input type="hidden" name="dojo_id" value="{{ dojo.id }}">
        <div class="container">
            <h2 class="text_centro">Comentário</h2>
            <div class="positivo">
                <textarea name="comment" id="" cols="50" rows="10" class="email com"></textarea>
            </div>
            <input type="hidden" id="status" name="status" value=""/>
            <input type="button" class="submit submit_green" title="positivo" value="Positivo" />
            <input type="button" class="submit submit_red" title="negativo" value="Negativo" />
        </div>
    </form>
{% endblock %}
