{% extends "base.html" %}

{% block templo %}
    <div class="templo templo_top"></div>
{% endblock %}

{% block conteudo %}
    <form action="/feedback/create" method="POST" id="comment_form">
        <input type="hidden" name="dojo_id" value="{{ dojo.id }}">
        <div class="container">
            <h2 class="text_centro">Comentário</h2>
            <div class="positivo">
                <textarea name="comment" id="" cols="50" rows="10" class="email com"></textarea>
            </div>
            <input type="hidden" id="status" name="status" value=""/>
            <input type="button" class="submit submit_green" title="positivo" value="Positivo" />
            <input type="button" class="submit submit_red" title="negativo" value="Negativo" />
        </div>
    </form>
{% endblock %}
