{% extends "base.html" %}

{% block progresso %}
    <div class="menu_progresso menu_progresso_1">
    </div>
{% endblock %}

{% block conteudo %}
    <h2 class="titulo_centro">Crie um nome para seu Dojo</h2>
    <form action="#" method="post" accept-charset="utf-8" class="form_novo">
        <input type="text" name="name" placeholder="Nome do dojo" class="email">
        <input type="submit" name="button" class="submit tip" value="Criar">
        <div id="errors_flash_messages"></div>
        <div id="qrcode">
            <p>QRCODE Comentários</p>
            <img alt="qrcode" width="216" height="216" src=""/>
        </div>
    </form>



    <div class="links"><a href="#">Página de Comentários</a></div>
    <div class="links"><a href="#">Página de Feedback</a></div>
{% endblock %}
