<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <title> Dojo Feedback</title>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script>

    function hideComments(element){
        element.find('div').css("visibility","hidden");
        element.find('h2').css("color","#FFF");   
        element.css("background-color","rgb(0, 0, 0)").css("opacity","0.2");
    }

    function showComments(element){
        element.find('div').attr("style", "");
        element.find('h2').attr("style", "");  
        element.attr("style", "");
    }

    $(document).ready(function() {
        
        hideComments($('.comentarios_feed'));

        $('.comentarios_feed').toggle(
            function(){
                showComments($(this));
            },

            function(){
                hideComments($(this));   
            }
        );
    });
    </script>

</head>
<body>
    <div class="templo templo_top"></div>
    <h2 class="titulo_centro">Feedback</h2>
    <div class='comentarios_feed' id="positivos">
    <h2>POSITIVO:</h2>    
        <div>
            <ul>
                {% for comment in dojo.positives() %}
                    <li>{{ comment.description }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class='comentarios_feed' id="negativos">
    <h2>NEGATIVO:</h2>
        <div>
        
            <ul>
                {% for comment in dojo.negatives() %}
                    <li>{{ comment.description }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>