<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='css/style.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600'
        rel='stylesheet' type='text/css'>
    <title> Dojo Feedback</title>
</head>
<body>
    POSITIVO:
    <div class='positives'>
        <ul>
            {% for comment in dojo.positives() %}
                <li>{{ comment.description }}</li>
            {% endfor %}
        </ul>
    </div>
    NEGATIVO:
    <div class='negatives'>
        <ul>
            {% for comment in dojo.negatives() %}
                <li>{{ comment.description }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>